## Data Pre_processing

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Stocks data
stocks_data_file_path = '/Users/bishishta_mukherjee/Documents/GitHub/DS-5500-Project-Portfolio-Optimization-Using-Deep-Reinforcement-Learning/data/stocks_data.csv'
stocks_data = pd.read_csv(stocks_data_file_path)
stocks_data  = stocks_data.sort_values(['ticker', 'Date'])

#crypto data
crypto_data_file_path = '/Users/bishishta_mukherjee/Documents/GitHub/DS-5500-Project-Portfolio-Optimization-Using-Deep-Reinforcement-Learning/data/crypto_data.csv'
crypto_data = pd.read_csv(crypto_data_file_path)
crypto_data  = crypto_data.sort_values(['crypto_ticker', 'Date'])

In [3]:
stocks_data

,Unnamed: 0,Date,Open,High,Low,Close,ticker
0,0,2005-01-03,4.627143,4.650714,4.471428,4.520714,AAPL
1,1,2005-01-04,4.556428,4.676429,4.497857,4.567143,AAPL
2,2,2005-01-05,4.604286,4.660714,4.575000,4.607143,AAPL
3,3,2005-01-06,4.619286,4.636428,4.523571,4.610714,AAPL
4,4,2005-01-07,4.642857,4.973571,4.625000,4.946429,AAPL
...,...,...,...,...,...,...,...
7337,3666,2019-07-29,74.879997,75.379997,74.699997,75.339996,XOM
7338,3667,2019-07-30,75.059998,75.559998,74.889999,75.349998,XOM
7339,3668,2019-07-31,75.040001,75.660004,74.260002,74.360001,XOM
7340,3669,2019-08-01,73.739998,74.269997,72.269997,72.459999,XOM
7341,3670,2019-08-02,72.610001,73.260002,71.180000,71.750000,XOM

In [4]:
crypto_data

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap,crypto_ticker
2344,2344,2013-04-28,135.300000,135.980000,132.100000,134.210000,NaN,1488566728,BTC
2343,2343,2013-04-29,134.440000,147.490000,134.000000,144.540000,NaN,1603768865,BTC
2342,2342,2013-04-30,144.000000,146.930000,134.050000,139.000000,NaN,1542813125,BTC
2341,2341,2013-05-01,139.000000,139.890000,107.720000,116.990000,NaN,1298954594,BTC
2340,2340,2013-05-02,116.380000,125.600000,92.280000,105.210000,NaN,1168517495,BTC
...,...,...,...,...,...,...,...,...,...
9806,4,2019-09-24,0.268686,0.272868,0.227052,0.235226,2.114211e+09,10133548682,XRP
9805,3,2019-09-25,0.235483,0.248962,0.234906,0.246441,1.800797e+09,10616698451,XRP
9804,2,2019-09-26,0.246448,0.250457,0.234037,0.243784,1.387714e+09,10502200054,XRP
9803,1,2019-09-27,0.243712,0.246306,0.236745,0.244021,1.277746e+09,10512410924,XRP
9802,0,2019-09-28,0.244023,0.245047,0.240754,0.242571,9.782115e+08,10449975028,XRP

In [5]:
smallest_ticker_data_points = 100000000
for ticker in np.unique(crypto_data['crypto_ticker']):
    if len(crypto_data['Date'].loc[crypto_data['crypto_ticker']==ticker]) < smallest_ticker_data_points:
        smallest_ticker_data_points = len(crypto_data['Date'].loc[crypto_data['crypto_ticker']==ticker])
        smallest_date = crypto_data['Date'].loc[crypto_data['crypto_ticker']==ticker].min()
    
print(smallest_date)
crypto_data_filtered = crypto_data.loc[crypto_data['Date'] >= smallest_date]
crypto_data_filtered  = crypto_data_filtered.sort_values(['crypto_ticker', 'Date'])

2015-08-07

In [6]:
crypto_data_filtered

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap,crypto_ticker
1513,1513,2015-08-07,278.740000,280.390000,276.370000,279.580000,4.248480e+07,4045993359,BTC
1512,1512,2015-08-08,279.740000,279.930000,260.710000,261.000000,5.853300e+07,3778049024,BTC
1511,1511,2015-08-09,261.120000,267.000000,260.470000,265.080000,2.378960e+07,3838130130,BTC
1510,1510,2015-08-10,265.480000,267.030000,262.600000,264.470000,2.097940e+07,3830352069,BTC
1509,1509,2015-08-11,264.340000,270.390000,264.090000,270.390000,2.543390e+07,3917142819,BTC
...,...,...,...,...,...,...,...,...,...
9806,4,2019-09-24,0.268686,0.272868,0.227052,0.235226,2.114211e+09,10133548682,XRP
9805,3,2019-09-25,0.235483,0.248962,0.234906,0.246441,1.800797e+09,10616698451,XRP
9804,2,2019-09-26,0.246448,0.250457,0.234037,0.243784,1.387714e+09,10502200054,XRP
9803,1,2019-09-27,0.243712,0.246306,0.236745,0.244021,1.277746e+09,10512410924,XRP
9802,0,2019-09-28,0.244023,0.245047,0.240754,0.242571,9.782115e+08,10449975028,XRP

In [7]:
print(np.unique(stocks_data['ticker']))

['AAPL' 'AMZN' 'BA' 'GOOGL' 'JPM' 'KO' 'MSFT' 'SPG' 'STT' 'TGT' 'UNH'
 'VMC' 'VZ' 'WMT' 'XEL' 'XOM']

In [8]:
print(np.unique(crypto_data_filtered['crypto_ticker']))

['BTC' 'ETH' 'LTC' 'XEM' 'XMR' 'XRP']

In [9]:
def get_input_data(data_table, ticker_column_name):
    open_values = list()
    close_values = list()
    high_values = list()
    low_values = list()

    for ticker in np.unique(data_table[ticker_column_name]):
        open_value_list = data_table['Open'].loc[data_table[ticker_column_name]==ticker]
        open_values.append(open_value_list[1:].reset_index(drop = True) / open_value_list[:-1].reset_index(drop = True))
        close_values.append(data_table['Close'].loc[data_table[ticker_column_name]==ticker][:-1] / open_value_list[:-1])
        high_values.append(data_table['High'].loc[data_table[ticker_column_name]==ticker][:-1] / open_value_list[:-1])
        low_values.append(data_table['Low'].loc[data_table[ticker_column_name]==ticker][:-1] / open_value_list[:-1])
    
    return np.array([close_values,
                     high_values,
                     low_values,
                     open_values])

In [10]:
stocks_input_array = get_input_data(stocks_data, 'ticker')

In [11]:
stocks_input_array.shape

(4, 16, 3670)

In [12]:
crypto_input_array = get_input_data(crypto_data_filtered, 'crypto_ticker')

In [13]:
crypto_input_array.shape

(4, 6, 1513)